.crx-mark {
  user-select: none;

  position: absolute;

  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;

  font-size: 12px;
  line-height: 12px;
  white-space: nowrap;

  &.crx-active {
    z-index: 2;
    opacity: 0.8;
  }

  &.crx-hover {
    z-index: 3;
  }

  &.crx-cmd {
    cursor: move;
  }

  &.crx-creator {
    pointer-events: none;
    opacity: 0.5;
  }
}