.crx-simple-box {
  pointer-events: none;
  position: absolute;
  border: 1px solid #24ff68;
}

.crx-simple-tag {
  position: absolute;

  height: 14px;
  padding: 0 4px;

  font-size: 12px;
  line-height: 14px;
  color: white;
  white-space: nowrap;

  background-color: #24ff68;

  &.crx-right {
    right: 0;
  }

  &.crx-outside {
    bottom: 100%;
  }

  &.crx-right.crx-outside {
    left: auto;
    transform-origin: right bottom;
  }
}

.crx-simple-box.crx-active {
  z-index: 1;
  border-color: #ff22bd;

  .crx-simple-tag {
    background-color: #ff22bd;
  }
}

.crx-simple-box.crx-simple-creator {
  z-index: 2;
  border-color: #46f0ff;

  .crx-simple-tag {
    background-color: #46f0ff;
  }
}