.crx-focus-mark {
  pointer-events: none;
  position: absolute;
  box-sizing: border-box;
  border: 2px solid #24ff68;
}

.crx-mark-tag {
  position: absolute;
  bottom: calc(100% - 0px);
  left: -1px;

  padding: 1px 3px;

  font-size: 12px;
  line-height: 1em;
  color: white;
  white-space: nowrap;

  background-color: #3eff7b;

  &.crx-in {
    top: -1px;
    bottom: auto;
    left: 0;
  }

  &.crx-right {
    right: -1px;
    left: auto;
  }

  &.crx-in.crx-right {
    inset: -1px 0 auto auto;
  }
}