.crx-app {
  position: fixed;
  z-index: 10000;
  top: 80px;
  left: 30px;

  background-color: white;
  box-shadow: 0 3px 3px 3px rgb(0 0 0 / 30%);
}

// simple 用于展示
// focus 用于编辑

.crx-simple-mark {
  position: absolute;
  z-index: 10000;
  box-sizing: border-box;
  border: 1px solid #24ff68;
}

.crx-mark-remove {
  cursor: pointer;
  margin-left: 8px;

  &:hover {
    color: black;
  }
}

.crx-focus-mark {
  pointer-events: none;

  position: absolute;
  z-index: 10001;

  box-sizing: border-box;

  border: 2px solid #24ff68;
}

.crx-mark-tag {
  position: absolute;
  bottom: calc(100% - 0px);
  left: -1px;

  padding: 1px 3px;

  font-size: 12px;
  line-height: 1em;
  color: white;
  white-space: nowrap;

  background-color: #3eff7b;

  &.crx-in {
    top: -1px;
    bottom: auto;
    left: 0;
  }

  &.crx-right {
    right: -1px;
    left: auto;
  }

  &.crx-in.crx-right {
    inset: -1px 0 auto auto;
  }
}